.total-body {
    padding-top: 1rem;
}

.total-description {
    display: flex;
    justify-content: space-between;
}

.total-text {
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 140%;
    color: #ABBBC2;
}

.total-price {
    font-weight: 500;
    font-size: 0.82rem;
    line-height: 140%;
}
