.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containerContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    backdrop-filter: blur(6px);
    padding: 5%;
    gap: 50px;
  }
  .containerImage{
    width: 95%;
    height: 90%;
    background-image: url("../public/landing.svg");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 0.8; */
  }
  .title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    color: black;
    opacity: 0.8;
  }
  .subtitle{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: black;
    opacity: 0.8;
  }
  .containerButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    padding-top: 100px;
  }
  .button{
    border-radius: 10px;
    height: 50px;
    width: 100px;
    color: white;
    background-color: rgba(108, 1, 21, 0.7);
  }